<footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
    <div class="overlay"></div>
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h3>Lo clasico tambien es necesario</h3>
                <p><a class="btn btn-primary" href="#">Unete Ahora</a></p>
            </div>
            <div class="col-md-8">
                <h3>Opciones</h3>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Ingresar</a></li>
                        <li><a href="#">Registrase</a></li>
                        <li><a href="#">Carrito</a></li>
                        <li><a href="#">Cambiar ciudad</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2020 | Todos los derechos reservados.</small> 
                    <small class="block">Hecho por Luis Medina</small>
                </p>
            </div>
        </div>

    </div>
</footer>