
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="../main">FakeFlix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/main']" >Inicio <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled"  >Configuracion del perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" [routerLink]="['/users']">Lista de Usuarios</a>
            <a class="dropdown-item" [routerLink]="['/orders']">Lista de Pedidos</a>
            <a class="dropdown-item" [routerLink]="['/detail']">Lista de Reservas</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Expiration Date</a>
        </li>
      </ul> 
      <ul>
        <button (click)="salir()">Salir</button>
      </ul>
    </div>
  </nav>