
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenido a Fakeflix!</h1>
        <p>Esta es la pagina principal en cual puedes ingresar a las opciones a las que tengas los permisos correspondientes</p>
        
      </div>
    </div>
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4" [hidden]="!edituser">
          <h2>Clientes</h2>
          <p>Lista de los clientes</p>
          <p><a class="btn btn-secondary" routerLink="../users" role="button">Lista de Clientes »</a></p>

        </div>
        <div class="col-md-4" [hidden]="!editproduct">
          <h2>Pedidos</h2>
          <p>Lista de los pedidos </p>
          <p><a class="btn btn-secondary" href="" [routerLink]="['../orders']" role="button">Lista de Pedidos »</a></p>

        </div>
        <div class="col-md-4">
          <h2>Reservas</h2>
          <p>Lista de Reservas</p>
          <p><a class="btn btn-secondary" href="" role="button">Lista de Reservas »</a></p>

        </div>
      </div>

      <hr>
     
    </div> <!-- /container -->

  </main>

  



