
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenido a Fakeflix!</h1>
        <p>Esta es la pagina principal en cual puedes ingresar a las opciones a las que tengas los permisos correspondientes</p>
        
      </div>
    </div>
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4" [hidden]="!edituser">
          <h2>Estrenos</h2>
          <p>Disfruta de los nuevos estrenos que tenemos para ti!</p>
          <p><a class="btn btn-secondary" routerLink="/users" role="button">Ir a Estrenos »</a></p>

        </div>
        <div class="col-md-4" [hidden]="!editproduct">
          <h2>Lista de Peliculas</h2>
          <p>Aqui puedes ver nuestra seleccion de peliculas </p>
          <p><a class="btn btn-secondary" href="" role="button">Lista de peliculas »</a></p>

        </div>
        <div class="col-md-4">
          <h2>Salir</h2>
          <p>Si desea salir del sistema, esta es la opcion.</p>
          <p><a class="btn btn-secondary" (click)="salir()" role="button">Salir »</a></p>

        </div>
      </div>

      <hr>
     
    </div> <!-- /container -->

  </main>

  



